#customize-controls .control-section-grocery_ecommerce .accordion-section-title:hover,
#customize-controls .control-section-grocery_ecommerce .accordion-section-title:focus {
	background-color: #fff;
}
#customize-controls #customize-control-grocery_ecommerce_button_border_radius label,
#customize-controls #customize-control-grocery_ecommerce_button_font_size label{
  width: 100%;
}
#accordion-section-grocery_ecommerce_pro_link .accordion-section-title,#accordion-section-grocery_ecommerce_doc_link .accordion-section-title, #accordion-section-grocery_ecommerce_demo_link .accordion-section-title{
  background: #0A472E;
  color: #fff;
  border-left: none;
}
#accordion-section-grocery_ecommerce_pro_link .accordion-section-title:hover,#accordion-section-grocery_ecommerce_doc_link .accordion-section-title:hover, #accordion-section-grocery_ecommerce_demo_link .accordion-section-title:hover{
 background: #0A472E !important;
 color: #fff !important ;
}
#accordion-section-grocery_ecommerce_pro_link .accordion-section-title a,#accordion-section-grocery_ecommerce_doc_link .accordion-section-title a, #accordion-section-grocery_ecommerce_demo_link .accordion-section-title a{
  border-color: transparent;
  color: #50575e;
}
#accordion-section-grocery_ecommerce_pro_link .accordion-section-title a:hover,#accordion-section-grocery_ecommerce_doc_link .accordion-section-title a:hover, #accordion-section-grocery_ecommerce_demo_link .accordion-section-title a:hover{
  background-color: #05a845 ;
  color: #fff;
}
.control-section-grocery_ecommerce .accordion-section-title .button {
	margin-top:  -4px;
	font-weight: 400;
	margin-left: 8px;
}
.rtl .control-section-grocery_ecommerce .accordion-section-title .button {
	margin-left:  0;
	margin-right: 8px;
}

/*Customizer*/

#customize-controls img {
    margin-right: 12px;
    margin-top: 15px;
    border: solid 2px #000;
    padding: 4px;
}

/*---- Button Input CSS ----*/
li#customize-control-grocery_ecommerce_top_button_padding,
li#customize-control-grocery_ecommerce_bottom_button_padding,
li#customize-control-grocery_ecommerce_left_button_padding,
li#customize-control-grocery_ecommerce_right_button_padding,
li#customize-control-grocery_ecommerce_product_top_padding,
li#customize-control-grocery_ecommerce_product_bottom_padding,
li#customize-control-grocery_ecommerce_product_left_padding,
li#customize-control-grocery_ecommerce_product_right_padding,
li#customize-control-grocery_ecommerce_product_button_top_padding,
li#customize-control-grocery_ecommerce_product_button_bottom_padding,
li#customize-control-grocery_ecommerce_product_button_left_padding,
li#customize-control-grocery_ecommerce_product_button_right_padding,
li#customize-control-grocery_ecommerce_product_sale_top_padding,
li#customize-control-grocery_ecommerce_product_sale_bottom_padding,
li#customize-control-grocery_ecommerce_product_sale_left_padding,
li#customize-control-grocery_ecommerce_product_sale_right_padding,
li#customize-control-grocery_ecommerce_slider_top_position,
li#customize-control-grocery_ecommerce_slider_bottom_position,
li#customize-control-grocery_ecommerce_slider_left_position,
li#customize-control-grocery_ecommerce_slider_right_position{
	clear: none;
	width: 22%;
	margin-right: 10px;
	text-align: center;
}
li#customize-control-grocery_ecommerce_right_button_padding,
li#customize-control-grocery_ecommerce_product_right_padding,
li#customize-control-grocery_ecommerce_product_button_right_padding,
li#customize-control-grocery_ecommerce_product_sale_right_padding,
li#customize-control-grocery_ecommerce_product_right_padding,
li#customize-control-grocery_ecommerce_slider_right_position,
li#customize-control-grocery_ecommerce_content_position{
	margin: 0;
}
li#customize-control-grocery_ecommerce_top_button_padding label,
li#customize-control-grocery_ecommerce_bottom_button_padding label,
li#customize-control-grocery_ecommerce_left_button_padding label,
li#customize-control-grocery_ecommerce_right_button_padding label{
	font-weight: 500;
	font-size: 13px;
}
input#_customize-input-grocery_ecommerce_button_padding,
input#_customize-input-grocery_ecommerce_product_padding,
input#_customize-input-grocery_ecommerce_product_button_padding,
input#_customize-input-grocery_ecommerce_product_sale_padding
input#_customize-input-grocery_ecommerce_content_position{
	display: none;
}
li#customize-control-grocery_ecommerce_button_padding,
li#customize-control-grocery_ecommerce_product_padding,
li#customize-control-grocery_ecommerce_product_button_padding,
li#customize-control-grocery_ecommerce_product_sale_padding{
	margin-bottom: 0px;
}

li#customize-control-grocery_ecommerce_product_border_radius,
li#customize-control-grocery_ecommerce_products_per_row,
li#customize-control-grocery_ecommerce_product_button_border_radius{
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

/*---- Input Range CSS ----*/
input[type="range"] {
	-webkit-appearance: none;
    width: 80% !important;
    margin: 12px 0 !important; 
    background: #fff;
    height: 6px;
}
input[type="range"]:focus{
	outline: 0;
}
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 20px;
	width: 12px;
	border-radius: 20px;
	background: #0073aa;
	cursor: pointer;
	box-shadow: 1px 1px 4px #5c5757;
}
.cs-range-value {
    float: right;
    padding: 5px 8px;
    border-radius: 4px;
    font-size: 15px;
    background: #fff;
    border: 1px solid #7e8993;
}

/*---- coyright Input CSS ----*/
li#customize-control-grocery_ecommerce_bottom_topbar_padding,
li#customize-control-grocery_ecommerce_top_topbar_padding,
li#customize-control-grocery_ecommerce_top_copyright_padding,
li#customize-control-grocery_ecommerce_bottom_copyright_padding,
li#customize-control-grocery_ecommerce_top_sticky_header_padding,
li#customize-control-grocery_ecommerce_bottom_sticky_header_padding{
	width: 46%;
	margin-right: 10px;
	clear: none;
}
input#_customize-input-grocery_ecommerce_topbar_padding,
input#_customize-input-grocery_ecommerce_copyright_padding,
input#_customize-input-grocery_ecommerce_content_position {
    display: none;
}
li#customize-control-grocery_ecommerce_topbar_padding,
li#customize-control-grocery_ecommerce_copyright_padding{
	margin:0;
}
label.customize-control-title{
	clear: both;
}
span#_customize-description-grocery_ecommerce_top_topbar_padding,
span#_customize-description-grocery_ecommerce_bottom_topbar_padding,
span#_customize-description-grocery_ecommerce_top_copyright_padding,
span#_customize-description-grocery_ecommerce_bottom_copyright_padding,
span#_customize-description-grocery_ecommerce_top_sticky_header_padding,
span#_customize-description-grocery_ecommerce_bottom_sticky_header_padding{
    font-weight: 600;
}

/* --------- Icon Selector Style --------- */
.type-icon{
  overflow: hidden;
}
li.customize-control-icon span.customize-control-title{
  float: left;
  width: 70%;
  margin: 10px 0;
}
.selected-icon{
  background: #fff;
  height: 45px;
  line-height: 45px;
  border: 1px solid #ddd;
  position: relative;
  cursor: pointer;
  font-size: 28px;
  display: inline-block;
  padding: 0 10px;
}
.selected-icon .fa{
  display: block;
  line-height: 45px;
}
.selected-icon span{
  position: absolute;
  background: #fff;
  right: -30px;
  top: -1px;
  height: 45px;
  width: 30px;
  text-align: center;
  border: 1px solid #ddd;
  font-size: 20px;
}
.icon-list{
	padding: 10px;
	font-size: 18px;
	border: 1px solid #EEE;
	border-right: 0;
	border-top: 0;
	padding-bottom: 4%;
	display: none;
	cursor: pointer;
	background: #fff;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	overflow-y: scroll;	
	height: 215px;
}
.icon-list li{
  float: left;
  margin: 4% 3% 0;
  height: 40px;
  width: 18%;
  text-align: center;
  line-height: 40px;
  border: 1px solid #EEE;
}
.icon-list li:hover{
  background: #333;
  border: 1px solid #333;
  color: #FFF;
}
.icon-list li.icon-active{
  background: #0073aa;
  border: 1px solid #0073aa;
  color: #FFF;
}
.social-icon-search{
	padding: 10px 0;
}
.grocery-ecommerce-social-class{
  display: none;
}
.socialInput{
  padding: 10px;
  font-size: 16px;
}

li#customize-control-grocery_ecommerce_button_border_radius label,li#customize-control-grocery_ecommerce_button_font_size label{
  display: block;
}

/*new css*/
#customize-control-grocery_ecommerce_menu_settings_premium_features a,
#customize-control-grocery_ecommerce_product_settings_premium_features a,
#customize-control-grocery_ecommerce_post_settings_premium_features a  {
  display: inline-block;
  background-color: #0A472E;
  color: #fff;
  text-decoration: none;
  font-weight:  600;
  text-transform: capitalize;
  font-size: 14px;
  padding: 7px 15px;
  border-radius: 10px;
  text-align: center;
  margin-top: 10px;
}
#customize-control-grocery_ecommerce_menu_settings_premium_features span,
#customize-control-grocery_ecommerce_product_settings_premium_features span,
#customize-control-grocery_ecommerce_post_settings_premium_features span{
  border: 1px solid grey;
  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
}
#customize-control-grocery_ecommerce_menu_settings_premium_features li,
#customize-control-grocery_ecommerce_product_settings_premium_features li,
#customize-control-grocery_ecommerce_post_settings_premium_features li{
  list-style-type: disc;
  margin-left: 20px;
}
#accordion-section-grocery_ecommerce_pro_link .accordion-section-title:after,
#accordion-section-grocery_ecommerce_doc_link .accordion-section-title:after,
#accordion-section-grocery_ecommerce_demo_link .accordion-section-title:after{
  display: none;
}
.accordion-section-title button.accordion-trigger{
	height: unset !important;
}

#customize-controls .control-section .accordion-section-title button:focus{
  box-shadow: none;
}
/* Reset Settings */
#customize-control-grocery_ecommerce_reset_demo_import_settings, #customize-control-grocery_ecommerce_reset_color {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  align-items: center;
  gap: 10px; 
}
#customize-control-grocery_ecommerce_reset_demo_import_settings label, #customize-control-grocery_ecommerce_reset_color label {
  font-size: 16px;
  color: #0073aa;
  display: block;
  line-height: 1.75;
  font-weight: 500;
  margin-bottom: 4px;
}
#customize-control-grocery_ecommerce_reset_demo_import_settings input, #customize-control-grocery_ecommerce_reset_color input{
  margin: 0px;
  padding: 5px;
  height: 15px;
}
